/* Testing purposes */
* {
	border: 0px solid red;
}

body {
    padding-top:50px;
    background-image: url("../img/bg_greencubes.jpg");
    background-repeat: repeat;

    -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.navstyle {
	/* Background Colors */
	background: white;
    background: -webkit-linear-gradient(white, #D1CECE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #D1CECE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #D1CECE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #D1CECE); /* Standard syntax */

    /* Border and Shadow */
	border: 1px solid black;

	box-shadow: 3px 3px 3px black;
	-moz-box-shadow: 3px 3px 3px black;
    -webkit-box-shadow: 3px 3px 3px black;

    margin-bottom: 20px;
}

li {
	padding-left: 20px;
}

.social li {
	padding-top: 7px;
	margin-right:20px;
}

.social .fa-free-code-camp:hover {
    color: #006400;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-github:hover {
    color: #000000;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

#jumbo {
	/* Background Colors */
	background: white;
    background: -webkit-linear-gradient(white, #D1CECE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #D1CECE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #D1CECE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #D1CECE); /* Standard syntax */

	/* Border and Shadow */
	border: 1px solid black;

	box-shadow: 3px 3px 3px black;
	-moz-box-shadow: 3px 3px 3px black;
    -webkit-box-shadow: 3px 3px 3px black;

    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 0px;
}

.jumboRow {
	display: flex;
}

#me {
	border-radius: 50%;
	width: auto;

	box-shadow: 3px 3px 3px black;
	-moz-box-shadow: 3px 3px 3px black;
    -webkit-box-shadow: 3px 3px 3px black;

    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

.imageContainer {
	margin-left: 20px; 
	padding: 0; 
}

.card-deck-wrapper {
	margin-top: 20px;
}